---
import Page from "../../layouts/Page.astro";
import { Markdown } from 'astro/components';
import getStrapiUrl from "../../utils/env.js";

export async function getStaticPaths() {
    const data =  await fetch(`${getStrapiUrl()}/graphql`,{
      method:'POST',
      headers: {'Content-Type':'application/json'},
      body: JSON.stringify({
        query: `
            query{
                posts(pagination: { limit: -1 }){
                    data{
                        attributes{
                            slug,
                        }
                    }
                }
            }
            `,
      }),
    }).then(res => res.json());
    return data.data.posts.data.map((post)=> ({ params: {slug: post.attributes.slug}}));
}

const {slug} = Astro.params;

const postItem = await fetch(`${getStrapiUrl()}/graphql`,{
  method:'POST',
      headers: {'Content-Type':'application/json'},
      body: JSON.stringify({
        query: `
            query($slug: String){
                findSlug(modelName: "post", slug: $slug) {
                    ... on PostEntityResponse {
                        data {
                            attributes {
                                title
                                description
                                content
                                featuredImage {
                                    data {
                                        attributes {
                                            url
                                        }
                                    }
                                }
                                author {
                                    data {
                                        attributes {
                                            name
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            `,
        variables: {
            "slug": slug
        }
      }),
    }).then(res => res.json());

const {title, description, content, featuredImage} = postItem.data.findSlug.data.attributes;
const backgroundUrl = "url(" + (import.meta.env.STRAPI_URL ?? "") + featuredImage.data.attributes.url + ")";
---
<style define:vars={{ backgroundUrl }}>
header {
    padding:0;
    background: var(--backgroundUrl);
    width : 100%;
    height : 300px;
    position : relative;
    
    /* Create the parallax scrolling effect */
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

hgroup {
    margin: 0;
    padding: 15px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

hgroup h1 {
    color: white;
    font-size: 1.5rem;
}
hgroup h2 {
    color: white;
}

@media (min-width: 768px){
    header{
        height : 500px;
    }

    hgroup {
        padding: 1em 3em 1em 3em;
    }
    hgroup h1 {
        font-size: 2rem;
    }
}

article img {
    max-height : 400px;
    position : relative;
    left : 50%;
    transform: translateX(-50%);
}

</style>
<Page {title}>
    <header>
        <hgroup>
            <h1>{title}</h1>
            <h2>{description}</h2>
        </hgroup>
    </header>
    <article>
        <Markdown {content} />
    </article>
</Page>