---
import Page from "../../layouts/Page.astro";
import { Markdown } from 'astro/components';
import getStrapiUrl from "../../utils/env.js";

export async function getStaticPaths() {
    const data =  await fetch(`${getStrapiUrl()}/graphql`,{
      method:'POST',
      headers: {'Content-Type':'application/json'},
      body: JSON.stringify({
        query: `
            query{
                posts(pagination: { limit: -1 }){
                    data{
                        attributes{
                            slug,
                        }
                    }
                }
            }
            `,
      }),
    }).then(res => res.json());
    return data.data.posts.data.map((post)=> ({ params: {slug: post.attributes.slug}}));
}

const {slug} = Astro.params;

const postItem = await fetch(`${getStrapiUrl()}/graphql`,{
  method:'POST',
      headers: {'Content-Type':'application/json'},
      body: JSON.stringify({
        query: `
            query($slug: String){
                findSlug(modelName: "post", slug: $slug) {
                    ... on PostEntityResponse {
                        data {
                            attributes {
                                title
                                description
                                content
                                featuredImage {
                                    data {
                                        attributes {
                                            formats
                                        }
                                    }
                                }
                                author {
                                    data {
                                        attributes {
                                            name
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            `,
        variables: {
            "slug": slug
        }
      }),
    }).then(res => res.json());

const {title, description, content} = postItem.data.findSlug.data.attributes;
const {alternativeText, formats} = postItem.data.findSlug.data.attributes.featuredImage.data.attributes;
---
<style>
hgroup{
    text-align: center;
}
header img {
    width: 100%;
}
article img {
    height : 400px;
    position : relative;
    left : 50%;
    transform: translateX(-50%);
}
</style>
<Page {title}>
    <header>
        <hgroup>
            <h1>{title}</h1>
            <h2>{description}</h2>
        </hgroup>
        <img src={(import.meta.env.STRAPI_URL ?? "") + formats.large.url} alt={alternativeText}>
    </header>
    <article>
            <Markdown {content} />
    </article>
</Page>