---
import "../styles/bootstrap-grid.css";

export interface PostGridItemProps {
    title: string;
    description: string;
    slug: string;
    featured?: boolean;
    imageUrl?: string;
    imageAlt?: string;
}
const { title, description, slug, featured, imageUrl, imageAlt } = Astro.props as PostGridItemProps;
const linkClassName = featured ? "contrast featured" : "contrast";
---
<style>
article{
    margin: 10px 0;
    padding:0;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
a {
    text-decoration: none;
    position: relative;
}
img {
    object-fit: cover;
    width: 100%;
    height: 250px;
}
.text{
    padding: 15px 20px;
}
.text h3,.text p {
   margin: 5px 0;
   line-height: 1.5rem;
}
@media (min-width:992px){
    .featured {
        display: flex;
    }
    .featured img {
        width: 100%;
        height: 350px;
    }
    .text{
        height: 200px;
    }
    .text h3{
        font-size: 25px;
    }
    .text p {
        font-size: 20px;
    }
}
</style>
<article>
    <a class={linkClassName} href={`/post/${slug}`}>
        <img src={imageUrl} alt={imageAlt} />
        <div class="text">
            <h3>{title}</h3>
            <p>{description}</p>
        </div>
    </a>
</article>
