---
import "../styles/bootstrap-grid.css"

import Page from "../layouts/Page.astro";
import getStrapiUrl from "../utils/env"
import PostCard from "../components/PostCard.astro";

let title = "Interpost";

const data =  await fetch(`${getStrapiUrl()}/graphql`,{
  method:'POST',
  headers: {'Content-Type':'application/json'},
  body: JSON.stringify({
    query: `
      query {
        posts(sort:"publishedAt:desc",pagination:{limit:3}) {
          data {
            attributes {
              title
              description
              slug
              featuredImage {
                data {
                  attributes {
                    alternativeText
                    formats
                  }
                }
              }
            }
          }
        }
      }`,
  }),
}).then(res => res.json());

---

<Page {title}>
  <div class="row">
    {data.data.posts.data.map((post,index)=>
      <PostCard 
          title={post.attributes.title} 
          description={post.attributes.description} 
          slug={post.attributes.slug}
          classes={index==0 ? "col-12" : "col-sm-12 col-lg-6"}
          featured={index==0}
          imageUrl={(import.meta.env.STRAPI_URL ?? "") + post.attributes.featuredImage.data.attributes.formats.medium.url}
          imageAlt={post.attributes.featuredImage.data.attributes.alternativeText} />
    )}
  </div>
</Page>
