---
import Page from "../../layouts/Page.astro";
import Pagination from "../../components/Pagination.astro"
import PostCard from "../../components/PostCard.astro";
import getStrapiUrl from "../../utils/env.js";

export async function getStaticPaths({paginate}) {
    const data =  await fetch(`${getStrapiUrl()}/graphql`,{
      method:'POST',
      headers: {'Content-Type':'application/json'},
      body: JSON.stringify({
        query: `
          query {
            posts(sort:"publishedAt:desc", pagination:{limit:-1}) {
              data {
                attributes {
                  title
                  description
                  slug
                  featuredImage {
                    data {
                      attributes {
                        alternativeText
                        formats
                      }
                    }
                  }
                }
              }
            }
          }`,
      }),
    }).then(res => res.json());
    return paginate(data.data.posts.data, {pageSize: 6});
}

const { page } = Astro.props;
---

<Page title={"Articles"}>
  <Pagination 
    prevUrl={page.url.prev} 
    nextUrl={page.url.next} 
    start={page.start} 
    end={page.end}  
    total={page.total}/>
  <div class="row">
    {page.data.map((post)=> 
        <PostCard 
          title={post.attributes.title} 
          description={post.attributes.description} 
          slug={post.attributes.slug}
          classes="col-sm-12 col-lg-6 col-xl-4"
          imageUrl={(import.meta.env.STRAPI_URL ?? "") + 
            (post.attributes.featuredImage.data.attributes.formats.medium?.url ?? 
            post.attributes.featuredImage.data.attributes.url)}
          imageAlt={post.attributes.featuredImage.data.attributes.alternativeText} />
    )}
  </div>
</Page>